
# History files
.Rhistory
.RData
.RDataTmp
.Ruserdata
.icloud
.csv

# Example code in package build process
.Rproj.user
.Rproj
# ShinyApps manifest
*.dcf

# Map files
.dbf
.prj
.shp
.shx

# Fonts
*.ttc

# DS Store
.DS_Store

# Log Files
logfile*.txt
